<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="module" src="{{url_for('static', filename='home.js')}}"></script>
    <title>Streaming Speech-to-Avatar</title>
	<style>
		body { margin: 0; }
	</style>
</head>
<body>

  <h1>Real-Time Speech-Driven Avatars</h1>

  <p>Using electromagnetic articulography (EMA) as intermediate features.</p>

  <button id="start_avatar_button"><a href="{{ url_for('avatar')}}">Start Avatar</a></button>

</body>
</html>
